p {
/*border: solid black 1px;*/
margin: 0px 0px 0px 0px;
display:inline-block;
width: 75%;}

h2 {
border: solid black 1px;
margin: 0px 0px 0px 0px;
display: inline-block;
width:75%;}

ul {
#border: solid black 1px;
margin: 0px 0px 0px 0px;
float: left;
height: 195px;
position: relative;
top: -50px;}

td {
    font-style: italic;
    vertical-align: top;}

table {
   width:100%
   font-style:italic; 
   padding:20px 40px 20px 40px} 

.main_body p {
	padding: 5px;
}

.code {
	padding: 10px;
	margin: 20px 50% 20px 20px;}

.code p {
	background-color: gray;
	padding:10px;
	margin:10px;
	display: inline}

.blog_navi {
	padding-top: 30px;
	/*float: left;*/	
	display:block}
	
div.intro {
	padding: 10px 0px;
}
