p {
/*border: solid black 1px;*/
margin: 0px 0px 0px 0px;
display:inline-block;
width: 75%;}

h2 {
border: solid black 1px;
margin: 0px 0px 0px 0px;
display: inline-block;
width:75%;}

ul {
border: solid black 1px;
margin: 0px 0px 0px 0px;
float: right;
width: 15%;
height: 195px;
position: relative;
top: -50px;}

td {
    font-style: italic;
    vertical-align: top;}

table {
   width:100%
   font-style:italic; 
   padding:20px 40px 20px 40px} 

.code {
	background-color: gray;}

.blog_navi {
	padding-top: 30px;
	float: bottom
}
